<div id="mydiv" style="font-size:50px; font-family: times, serif;">PLUGS &nbsp; &nbsp;<a style="font-size:30px">version 1.0.0</a></div>

<h4>Planning Urban Growth & Simulation: Implementation</h4>

<div style="font-size:15px; font-color:rgb(100,100,100);">
  <br>student: Nirvik Saha (GIT)
  <br>adviser: Dennis R Shelden (GIT)
  <br>adviser: John R Haymaker (P+W)
  <br>adviser: Perry Pei-Ju Yang (GIT)
  <br>contact-email: nirviksaha@gatech.edu
</div>

</br></br>

<div align="center">
<br><br>
<img src="/public/imgs/plugs_web2_pres_001.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_002.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_003.jpg" height="52.51%" width="100%">
<br><br><br>
<!--<img src="/public/imgs/plugs_web2_pres_004.jpg" height="52.51%" width="100%">-->
</div>
<div align="center" style="font-size:15px; font-family: times, serif;">
  <a style="font-size:25px"><b>Objectives:</b></a>
    Illustration of objectives considered and generation of results
</div>

<div align="center">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_005.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_006.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_007.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_008.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_009.jpg" height="52.51%" width="100%">
<br><br><br>
</div>

<!--<img src="/public/imgs/plugs_web2_pres_010.jpg" height="52.51%" width="100%">
<br><br><br>-->
<div align="center" style="font-size:15px; font-family: times, serif;">
  <a style="font-size:25px"><b>Intuitive explanation for Algorithms:</b></a>
    Urban design Objectives based on network optimization and building generation 
</div>

<div align="center">
<img src="/public/imgs/plugs_web2_pres_011.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_012.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_013.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_014.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_015.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_016.jpg" height="52.51%" width="100%">
<br><br><br>
</div>

<!--<img src="/public/imgs/plugs_web2_pres_017.jpg" height="52.51%" width="100%">-->
<br><br><br>
<div align="center" style="font-size:15px; font-family: times, serif;">
  <a style="font-size:25px"><b>Salient Features For designers:</b></a>
    Using the GUI to develop variations or restrict variations or develop pre-conceived ideas 
</div>

<div align="center">
<img src="/public/imgs/plugs_web2_pres_018.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_019.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_020.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_021.jpg" height="52.51%" width="100%">
<br><br><br>
</div>
<!--<img src="/public/imgs/plugs_web2_pres_022.jpg" height="52.51%" width="100%">
<br><br><br>-->
<div align="center" style="font-size:15px; font-family: times, serif;">
  <a style="font-size:25px"><b>Graphical User Interface:</b></a>
    Elements of the GUI and brief explanation of usage
</div>
<div align="center">
<img src="/public/imgs/plugs_web2_pres_023.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_024.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_025.jpg" height="52.51%" width="100%">
<br><br><br>
<img src="/public/imgs/plugs_web2_pres_026.jpg" height="52.51%" width="100%">
<br><br><br>
<br><br><br>
</div>
<div align="center" style="font-size:25px; font-family: times, serif;">
  <a style="font-size:30px"><b>Thank you</b></a>
</div>
</br></br></br></br></br></br></br></br></br></br></br></br>
