<h1>PLUGS</h1>
<p>
  Planning Urban Growth & Simulation is a student  project that demonstrates an AI based approach to design and analyze urban form generation.
  <br><br>Version 1.0.0
  <br><br>email: nirviksaha@gatech.edu
</p>