<h1>PLUGS</h1>
<p>
  Planning Urban Growth & Simulation is a student  project that demonstrates an AI based approach to design and analyze urban form generation.
  <br><br>Version 1.0.0
  <br><br>student: Nirvik Saha (GIT)
  <br>adviser: Dennis R Shelden (GIT)
  <br>adviser: John R Haymaker (P+W)
  <br>adviser: Perry Pei-Ju Yang (GIT)
  <br><br>email: nirviksaha@gatech.edu
</p>