<div id="mydiv" style="font-size:50px; font-family: times, serif;">PLUGS &nbsp; &nbsp;<a style="font-size:30px">version 1.0.0</a></div>

<h4>Planning Urban Growth & Simulation: Implementation</h4>

<div style="font-size:15px; font-color:rgb(100,100,100);">
  <br>student: Nirvik Saha (GIT)
  <br>adviser: Dennis R Shelden (GIT)
  <br>adviser: John R Haymaker (P+W)
  <br>adviser: Perry Pei-Ju Yang (GIT)
  <br>contact-email: nirviksaha@gatech.edu
</div>

</br></br>

<div align="center" style="font-size:25px; font-family: times, serif;">Graphical User Interface</div>

<div align="center">
<br><br>
<img src="/public/imgs/gui00.jpg" height="25" width="800">
<br><br><br>
<img src="/public/imgs/gui01.jpg" height="120" width="800">
<br><br><br>
<img src="/public/imgs/gui02.jpg" height="220" width="800">
<br><br><br>
<img src="/public/imgs/gui03.jpg" height="300" width="800">
<br><br><br>
<img src="/public/imgs/gui04.jpg" height="400" width="800">
<br><br><br>
<img src="/public/imgs/gui05.jpg" height="200" width="800">
<br><br><br>
</div>

<br><br><br>
<div align="center" style="font-size:25px; font-family: times, serif;">Circulation</div>

<div align="center"><img src="/public/imgs/plugsBldgElements.jpg" height="400" width="800"></div>

<br><br><br>
<div align="center" style="font-size:25px; font-family: times, serif;">Activity and Space Allocation</div>

<div align="center">
<img src="/public/imgs/plugsGroundElements.jpg" height="400" width="800">
</div>

<br><br><br>
<div align="center" style="font-size:25px; font-family: times, serif;">Planned Extensions to Graphical User Interface</div>

<div align="center"><br>
<img src="/public/imgs/plugsExtn02.jpg" height="250" width="650">
</div></br></br>


<div align="center" style="font-size:25px; font-family: times, serif;">Effect on the system: Parametric Objective Function (w.i.p.)</div><br>

<div align="center">
<img src="/public/imgs/plugsExtn01.jpg" height="500" width="635">
</div>

<br><br><br>
<div align="center" style="font-size:25px; font-family: times, serif;">Mechanism (w.i.p.)</div><br>
<p>
The urban simulation is executed by the agent which allocates population to a block and updates cells of the block to accommodate the growth. The overall architecture of the system is shown in Figure-4. A matrix or array of numbers to identify the block and population number is saved in persistent memory. The agent allocates population by parsing this and querying the ruleset shown in Table 1. During an iteration, the population is incremented and spill-over is computed by interpreting the ruleset as:</br>
a.	Increment in Population (I), T=allocate to current block</br>
b.	Spill over (R) = I –(T-E), Allocate if (R<0): T=False, else T=True</br></0>
c.	Sort blocks by score (descending)</br>
d.	Spill=R, if (spill>0): send to next block</br>
e.	Else: Allocate(I) to block; Update Block Score</br>
</br>
The variables in Table 2 determine the features of urban region. Coefficients of desired features and their contribution to the objective function are exposed to the user through a GUI. This interactivity allows the customization of the objective function such that certain features may be amplified or suppressed depending on the design objectives. Implications of geometric scoring:</br>
a.	0-2: Scatter or cluster low-rise blocks</br>
b.	3-5: Group or separate block type</br>
c.	6: Occupy more cells and increase height</br>
d.	7: Reduce cells being occupied by increasing height</br>
e.	8-10: Preferred / discouraged proportion of block types</br>
f.	11-13: Preferred / discouraged distance of each from street</br>
g.	14-19: Preferred / discouraged activity for each</br>
</p>
 
</br></br></br></br></br></br></br></br></br></br></br></br>
