<h1>PLUGS</h1>
<p>
  created by Nirvik Saha (GIT)<br>
  Adviser: Dennis R Shelden (GIT), Perry Yang (GIT), John R Haymaker (P+W)<br>
  This project demonstrates a comprehensive approach to handle AI for cities at GIT, Tokyo Studio, 
  <br>Version 1.0.0
</p>