<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI, #informationDiv {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
  </style>

    <p> 
        Press Enter to generate new option
    </p>
    <div id="container" >
        <div id="informationDiv">
            <textarea id="information" style="position:relative; left: 300px; top:25px; width: 300px; overflow: auto; overflow-x: hidden; height: 100px;background: transparent; " readonly> Information</textarea>
        </div>
        <div id="moveGUI"  style="position: absolute; left:ss 0px; top:25px; "></div> 
        <div id="scene3d"></div>
    </div>

<script src="/public/js/app_tokyo/nstSuperBlockRulesFile.js"></script>
<script src="/public/js/app_tokyo/nstSuperBlockFile.js"></script>
<script src="/public/js/app_tokyo/nstGeoUtilFile.js"></script>
<script src="/public/js/app_tokyo/nstRoutingFunc.js"></script>
<script src="/public/js/app_tokyo/nstNetworkFunc.js"></script>
<script src="/public/js/app_tokyo/nstGeoDefFile.js"></script>
<script src="/public/js/app_tokyo/nstGenGeoFunc.js"></script>
<script src="/public/js/app_tokyo/nstGlobalVariablesFile.js"></script>
<script src="/public/js/app_tokyo/nstGuiFile.js"></script>
<script src="/public/js/app_tokyo/nstMain.js"></script>
<script>
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    getData(jsonObj);
</script>
