<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
    div.floating {
        color : #ffffff;
        background : #000000;
        opacity : 0.8;
        width : 50%;
        height : 80%;
        position : absolute;
        left : 10%;
        top : 10%;
        border : 1px solid #555555;
        padding : 10px;
        display : none;
        overflow : auto;
        z-index: 100;
    }
    span.link{
        color:black;
        cursor:pointer;
        text-decoration:underline;
    }
    a{
        color:skyblue;
    }
  </style>
    <p> 
        Press Enter to generate new option
    </p>

    <div id="export"><span class="link" id="export">Generate OBJ file (for Rhino3d)</span></div>
    <br>
    <textarea id="information" style="display:none" readonly>null</textarea>
    <input type="text" id="name" value="plugs_web">    
    <button id="button" onclick="download();">Download</button>
    <button id="button" onclick="download();">Save To DB</button>
    
    <script src="/public/js/libs/FileSaver.js"></script>
    <script type="text/javascript">
        function download(){
            var content = document.getElementById("information").innerHTML;
            console.log(content);
            if(content==="null"|| content.trim()==""){
                alert("first generate the OBJ file- option above");
            }
            var nameOfFile=document.getElementById("name").value+"."+"obj";
            var blob = new Blob([content], {type: "text/plain;charset=utf-8"});
            saveAs(blob, nameOfFile);
        }
    </script>
    
    <div id="container" >
        <div id="moveGUI"  style="position: absolute; left:ss 0px; top:25px; "></div>
        <div id="scene3d"></div>
    </div>

<script src="/public/js/app_tokyo/nstSuperBlockRulesFile.js"></script><!--functions for rules of superblock-->
<script src="/public/js/app_tokyo/nstSuperBlockFile.js"></script><!--functions for superblock generation-->
<script src="/public/js/app_tokyo/nstGeoUtilFile.js"></script><!--fucntions for utility & debug-->
<script src="/public/js/app_tokyo/nstRoutingFunc.js"></script><!--functions for routing spt mst-->
<script src="/public/js/app_tokyo/nstNetworkFunc.js"></script><!--functions for overall generation-->
<script src="/public/js/app_tokyo/nstNetworkDefFile.js"></script><!--dataobj for network objects-->
<script src="/public/js/app_tokyo/nstQuadDataObj.js"></script><!--dataobj for quad-->
<script src="/public/js/app_tokyo/nstGeoDefFile.js"></script><!--dataobj for general elements-->
<script src="/public/js/app_tokyo/nstGenGeoFunc.js"></script><!--functions for intiating geometry-->
<script src="/public/js/app_tokyo/nstGlobalVariablesFile.js"></script><!--all global variables are stored here-->
<script src="/public/js/app_tokyo/nstGuiStateMachineFile.js"></script><!--datGui variables and config-->
<script src="/public/js/app_tokyo/nstMain.js"></script><!--3js setup + state machine-->

<script>
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    getData(jsonObj);
</script> <!--real init get data from handlebars and send to generative functions-->
