<h1>Rule based FSR Distribution</h1>
    <style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI, #informationDiv {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
    </style>

    <div id="container" >
        <div id="moveGUI"  style="position: absolute; left:ss 0px; top:25px; "></div> 
        <div id="scene3d"></div>
    </div>
    <script src="/public/js/app_tokyo_rule_based/nsrGeoUtilFile.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrGuiStateMachine.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrGeoDefFile.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrGenNetworkGeo.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrGenGeo.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrGlobalVariables.js"></script>
    <script src="/public/js/app_tokyo_rule_based/nsrMain.js"></script><!--3js setup + state machine-->
    <script>
        var decodedJson = decodeURIComponent("{{{encodedJson}}}");
        var jsonObj = JSON.parse(decodedJson);
        getData(jsonObj);
    </script> <!--real init get data from handlebars and send to generative functions-->
