<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
    div.floating {
        color : #ffffff;
        background : #000000;
        opacity : 0.8;
        width : 80%;
        height : 80%;
        position : absolute;
        left : 10%;
        top : 10%;
        border : 1px solid #555555;
        padding : 10px;
        display : none;
        overflow : auto;
        z-index: 100;
    }
    span.link{
        color:black;
        cursor:pointer;
        text-decoration:underline;
    }
    a{
        color:skyblue;
    }
  </style>
    <textarea id="objinformation" name="objdata" style="display:none" required>null</textarea>
    <br>
    <div class="card card-body">
        <form action = "/appTokyoGenerator" method="post">
            <div class="form-group">
                <input type="text" id="name" name="name" value="filename" required>
                <textarea id="dbdata" name="dbdata" style="display:none" required>null</textarea>
                <button id="button">Save to DB</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="font-size: 25px;"><b>Press Enter to generate new option</b></label>
            </div>
        </form>
    </div>
    <br>
     
    <script src="/public/js/libs/FileSaver.js"></script>
    <script type="text/javascript">
        function download(){
            var content = document.getElementById("information").innerHTML;
            if(content==="null"|| content.trim()==""){
                alert("first generate the OBJ file- option above");
            }else{
                var nameOfFile=document.getElementById("name").value+"."+"obj";
                var blob = new Blob([content], {type: "text/plain;charset=utf-8"});
                saveAs(blob, nameOfFile);
            }
        }
    </script>
    
    <div id="container">
        <div id="moveGUI"  style="position: absolute; left: 0px; top:25px; "></div>
        <div id="scene3d"></div>
    </div>

<script src="/public/js/app_tokyo_generator/nstMoverAgent.js"></script><!--agent that moves-->
<script src="/public/js/app_tokyo_generator/nstVoronoi.js"></script><!--voronoi that allocates cells-->
<script src="/public/js/app_tokyo_generator/nstAgent.js"></script><!--agent that allocates cells-->
<script src="/public/js/app_tokyo_generator/nstSuperBlockRulesFile.js"></script><!--functions for rules of superblock-->
<script src="/public/js/app_tokyo_generator/nstSuperBlockFile.js"></script><!--functions for superblock generation-->
<script src="/public/js/app_tokyo_generator/nstGeoUtilFile.js"></script><!--fucntions for utility & debug-->
<script src="/public/js/app_tokyo_generator/nstRoutingFunc.js"></script><!--functions for routing spt mst-->
<script src="/public/js/app_tokyo_generator/nstNetworkFunc.js"></script><!--functions for overall generation-->
<script src="/public/js/app_tokyo_generator/nstNetworkDefFile.js"></script><!--dataobj for network objects-->
<script src="/public/js/app_tokyo_generator/nstQuadDataObj.js"></script><!--dataobj for quad-->
<script src="/public/js/app_tokyo_generator/nstGeoDefFile.js"></script><!--dataobj for general elements-->
<script src="/public/js/app_tokyo_generator/nstGenGeoFunc.js"></script><!--functions for intiating geometry-->
<script src="/public/js/app_tokyo_generator/nstGlobalVariablesFile.js"></script><!--all global variables are stored here-->
<script src="/public/js/app_tokyo_generator/nstGuiStateMachineFile.js"></script><!--datGui variables and config-->
<script src="/public/js/app_tokyo_generator/nstMain.js"></script><!--3js setup + state machine-->

<script>
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    getData(jsonObj);
</script> <!--real init get data from handlebars and send to generative functions-->
