


<div id="container">
    <div id="scene3d"></div>
</div>

<script src="/public/js/app_tokyo_viewer/nsvGeoUtilFile.js"></script> <!-- geometry object from the decoded JSON object -->
<script src="/public/js/app_tokyo_viewer/nsvGeoObj.js"></script> <!-- geometry object from the decoded JSON object -->
<script src="/public/js/app_tokyo_viewer/nsvMain.js"></script> <!--3js setup +state Machine -->

<script>
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    //console.log(jsonObj);
    getData(jsonObj);
</script>