<style>
    span.link{
        color:black;
        cursor:pointer;
        text-decoration:underline;
    }
    a{
        
        color:black;
    }
</style>
<h3>List of Models</h3><br>
<ol>
{{#each genobj}}
<li>{{name}} {{date}} 
    <span class="link">
        <a style="font-size:15px; font-family:times, serif;" href="/appTokyoViewer/{{id}}">
          DISPLAY
         </a></span> </li><br>
{{/each}}
</ol>