    
<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI, #informationDiv {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
  </style>

    <p> 
        <br> Press space to generate new option : then Enter to optimize
        <br> Please don't use AUTOLOOP - browser will crash
    </p>
    <div id="container">
        <div id="informationDiv">
            <textarea id="information" style="position:relative; left: 300px; top:25px; width: 300px; overflow: auto; overflow-x: hidden; height: 100px;background: transparent; " readonly> Information</textarea>
        </div>
        <div id="moveGUI"  style="position: absolute; left: 0px; top:25px; "></div> 
        <div id="scene3d"></div>
    </div>
    
    <script src="/public/js/nsGeoDefFile.js"> </script>
    <script src="/public/js/nsGenGeoFile.js"> </script>
    <script src="/public/js/shortestPathAlg.js"> </script>
    <script src="/public/js/nsMain.js"></script>