    
    
    
    <link rel="stylesheet" type="text/css" href="/css/nsFormat.css">
    

            
    <div id="container">
        <div id="informationDiv">
            <textarea id="information" style="position:relative; left: 0px; top:300px; width: 300px; overflow: auto; overflow-x: hidden; height: 200px;background: transparent; " readonly> Information</textarea>
        </div>
        <div id="moveGUI"></div> 
        <div id="scene3d"></div>
    </div>
    
    <script src="/js/nsGUI.js"></script>
    
    
    <script src="/js/nsMain.js"></script>