    
<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI, #informationDiv {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
  </style>

            
    <div id="container">
        <div id="informationDiv">
            <textarea id="information" style="position:relative; left: 300px; top:0px; width: 300px; overflow: auto; overflow-x: hidden; height: 100px;background: transparent; " readonly> Information</textarea>
        </div>
        <div id="moveGUI"></div> 
        <div id="scene3d"></div>
    </div>
    
    <script src="/public/js/nsGeoDefFile.js"> </script>
    <script src="/public/js/nsGenGeoFile.js"> </script>
      
    <script src="/public/js/nsMain.js"></script>