<div class = "jumbotron text-center">
  <h6 class="display-3">{{title}}</h6>
  <p class="lead">Planning Urban Growth & Simulation</p>
  <a href="/concept" class ="btn btn-dark btn-lg">Project (w.i.p.)</a>
</div>
<div align="center" style="font-size:15px; font-style:italic;">Keywords: agent-based simulation, reinforcement learning, urban-planning, procedural geometric model, building energy model </div></br>
<img src="/public/imgs/plugsGifFrontPage.gif" alt="Smiley face" height="500" width="950">
