<div class = "jumbotron text-center">
  <h6 class="display-3">{{title}}</h6>
  <p class="lead">Planning Urban Growth & Simulation</p>
  <a href="/concept" class ="btn btn-dark btn-lg">Project (w.i.p.)</a>
  
</div>
